body{
    background-color:blue;
    
};

  @media  and (max-device-width : 1024px){
    body{
        background-color: red;
    };

  }

   @media and (min-device-width : 768px){
    body{
        background-color: green;
    };

   } 
           
      